<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <!-- factory for plain WSDL objects -->
     <extension
        point="org.eclipse.wst.sse.sieditor.core.objectDefinition">
  			<objectDefinition extension = "wsdl" />
  			<factory class = "org.eclipse.wst.sse.sieditor.model.impl.WSDLFactory" />
  
  </extension>
  
  <extension
        point="org.eclipse.wst.sse.sieditor.core.objectDefinition">
  			<objectDefinition extension = "xsd" />
  			<factory class = "org.eclipse.wst.sse.sieditor.model.impl.XSDFactory" />
  
  </extension>
  
	<extension point="org.eclipse.emf.validation.constraintProviders">
		<category name="XSD" id="xsd-validation"/>
    	<category name="WSDL" id="wsdl-validation"/>
    	<category name="WSDL-HTTP" id="wsdl-http-validation"/>
    	<category name="WSDL-SOAP" id="wsdl-soap-validation"/>
    	
      	<constraintProvider class="org.eclipse.emf.validation.xml.XmlConstraintProvider">
        	<package namespaceUri="http://www.eclipse.org/xsd/2002/XSD"/>
        	<package namespaceUri="http://www.eclipse.org/wsdl/2003/WSDL"/>
        	<package namespaceUri="http://www.eclipse.org/wsdl/2003/HTTP"/>
        	<package namespaceUri="http://www.eclipse.org/wsdl/2003/SOAP"/>
        	
         	<constraints>
         		<include path="constraints/xsd.xml"/>
         		<include path="constraints/wsdl.xml"/>
         		<include path="constraints/wsdl_http.xml"/>
         		<include path="constraints/wsdl_soap.xml"/>
         		<include path="constraints/wsdl-ws-i.xml"/>
         	</constraints>
      	</constraintProvider>
   	</extension>

 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.emf.ecore.EObject"
          class="org.eclipse.wst.sse.sieditor.model.validation.impl.ValidationAdapterFactory">
       <adapter
             type="org.eclipse.wst.sse.sieditor.model.validation.IValidationStatusProvider">
       </adapter>
    </factory>
    <factory
          adaptableType="org.eclipse.wst.sse.sieditor.model.api.IModelObject"
          class="org.eclipse.wst.sse.sieditor.model.validation.impl.ValidationAdapterFactory">
       <adapter
             type="org.eclipse.wst.sse.sieditor.model.validation.IValidationStatusProvider">
       </adapter>
    </factory>
 </extension>
 <extension
       id="org.eclipse.wst.sse.sieditor.validation.problem"
       name="Service Interface and Data Types Editors Markers"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="false">
    </persistent>
    <super
          type="org.eclipse.emf.validation.problem">
    </super>
 </extension>
</plugin>
