<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="esmSIEditorPreEditListener" name="ESM SIEditor Pre Edit Listener" schema="schema/esmSIEditorPreEditListener.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.sse.sieditor.ui.ServiceInterfaceEditor"
            contributorClass="org.eclipse.wst.sse.sieditor.ui.v2.common.CommonActionBarContributor"
            icon="icons/Interface.gif"
            extensions="wsdl"
            id="org.eclipse.wst.sse.sieditor.ui.sieditor"
            name="Service Interface Editor">
      </editor>
      <editor
            class="org.eclipse.wst.sse.sieditor.ui.DataTypesEditor"
            contributorClass="org.eclipse.wst.sse.sieditor.ui.v2.common.CommonActionBarContributor"
             icon="icons/Type Browser Panel/DataTypes.gif"
             extensions="xsd"
            id="org.eclipse.wst.sse.sieditor.ui.dteditor"
            name="Data Types Editor">
      </editor>

   </extension>
   	<extension point="org.eclipse.emf.validation.constraintBindings">
  		<clientContext default="false" id="org.eclipse.wst.sse.sieditor.model.validation.wsdlValidationContext">
     		<enablement>
        		<instanceof
              		value="org.eclipse.wst.wsdl.WSDLElement">
        		</instanceof>
     		</enablement>
  		</clientContext>
  		<clientContext default="false" id="org.eclipse.wst.sse.sieditor.model.validation.xsdValidationContext">
     		<enablement>
        		<instanceof
              		value="org.eclipse.xsd.XSDConcreteComponent">
        		</instanceof>
     		</enablement>
  		</clientContext>
  		<binding context="org.eclipse.wst.sse.sieditor.model.validation.xsdValidationContext" category="xsd-validation"/>
  		<binding context="org.eclipse.wst.sse.sieditor.model.validation.wsdlValidationContext" category="wsdl-validation"/>
  		<binding context="org.eclipse.wst.sse.sieditor.model.validation.wsdlValidationContext" category="wsdl-http-validation"/>
  		<binding context="org.eclipse.wst.sse.sieditor.model.validation.wsdlValidationContext" category="wsdl-soap-validation"/>
	</extension>
    <extension
          point="org.eclipse.ui.editors.documentProviders">
       <provider
             class="org.eclipse.wst.sse.sieditor.ui.v2.input.WritableStorageDocumentProvider"
             id="org.eclipse.wst.sse.sieditor.ui.v2.input.WritableStorageDocumentProvider"
             inputTypes="org.eclipse.wst.sse.sieditor.ui.v2.input.IWritableStorageEditorInput">
       </provider>
    </extension>
    
    <extension point="org.eclipse.ui.preferencePages">
      <page category="org.eclipse.wst.ws.internal.ui.preferences.name"
      		name="Service Interface Editor" 
      		class="org.eclipse.wst.sse.sieditor.ui.preferences.ServiceInterfaceEditorPreferencePage" 
      		id="org.eclipse.wst.sse.sieditor.ui">
      </page>
   </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="org.eclipse.wst.sse.sieditor.ui.v2.common.MarkerResolutionGenerator"
             markerType="org.eclipse.wst.sse.sieditor.validation.problem">
       </markerResolutionGenerator>
    </extension>
</plugin>
